<div class="cart">
  <h2>Shopping Cart</h2>

  <ul class="cart-items">
    <li *ngFor="let cartItem of cartItems">
      <span>{{cartItem.product.name}} ${{cartItem.product.price}} Qty:{{cartItem.quantity}} SubTotal:{{cartItem.quantity * cartItem.product.price}}</span><button (click)="removeProduct(cartItem.index)" style="font-weight:bold">X</button>
    </li>
  </ul>
  <span style="font-weight:bold;font-style:italic">Total Before Tax:{{cartGrandTotal}}</span><br/>
<span style="font-size:smaller;font-style:italic">Taxes will be calculated based on your address after you enter shipping information.</span><br />

  <button (click)="goBack()">Back</button>
  <button (click)="purchase()">Purchase</button>
</div>